.parentcomponent-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 310px;
    height: 35px;
    padding: 8px 13px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 50px;
    margin-left: 253px;
}

.parent-container.focused {
    border-color: rgb(178, 178, 178);
}

.search-box {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
}

.search-box input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: #FFF;
}

.icon-search,
.icon-close {
    align-items: center;
}

.dropdown-floor {
    display: flex;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-top: 50px;
}

.dropdown-status {
    display: flex;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-top: 50px;
    margin-right: 465px;
}

/* .create-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 255px;
}

.create-button span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-style:hover {
    background-color: #ECECEC;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-style:active {
    background-color: #B1B1B1;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */