.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 570px;
    height: 35px;
    padding: 8px 13px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 125px;
}

.container.focused {
    border-color: rgb(178, 178, 178);
}

.search-box {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
}

.search-box input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: #ffffff;
}

.icon-search,
.icon-close {
    align-items: center;
}