/* .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract-container {
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.dual-text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 5px;
}

.contract-button {
    background-color: white;
    border: none;
    box-shadow: none;
    width: 800px;

}

.contract-button:hover {
    background-color: #ECECEC;
    cursor: pointer;
    border: none;
    box-shadow: none;

}

.contract-button:active {
    background-color: #B1B1B1;
    border: none;
    box-shadow: none;

}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 35px;
    padding: 8px 13px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 240px;
    margin-top: 50px;
}

.search-container.focused {
    border-color: rgb(0, 0, 0);
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
}

.search-bar input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.icon-search,
.icon-close {
    align-items: center;
}

.button-frame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    margin-top: 45px;
    margin-right: 230px;
}

button {
    display: flex;
    padding: 22px 15px;
    align-items: center;
    height: 20px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: #ECECEC;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:active {
    background-color: #B1B1B1;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */


/* style 2 */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 35px;
    padding: 8px 13px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 240px;
    margin-top: 50px;
}

.contract-container {
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.dual-text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 5px;
}

.contract-button {
    background-color: rgb(215, 227, 239);
    border: none;
    box-shadow: none;
    width: 800px;

}

.contract-button:hover {
    background-color: rgb(188, 217, 245);
    cursor: pointer;
    border: none;
    box-shadow: none;

}

.contract-button:active {
    background-color: rgb(177, 202, 227);
    border: none;
    box-shadow: none;

}

.search-container.focused {
    border-color: rgb(178, 178, 178);
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
}

.search-bar input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: #ffffff;
}

.icon-search,
.icon-close {
    align-items: center;
}

.button-frame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    margin-top: 50px;
    margin-right: 230px;
}

.button-frame span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button-frame-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-frame-style:hover {
    background-color: #ECECEC;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-frame-style:active {
    background-color: #B1B1B1;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    display: flex;
    padding: 22px 15px;
    align-items: center;
    height: 20px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: #ECECEC;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:active {
    background-color: #B1B1B1;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}