.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}


.item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  border: 0;
  border-radius: 8px;
  background-color: white;
  margin: 0 auto;
}

.item span {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.item:hover {
  background-color: #ECECEC;
  cursor: pointer;
  border: 0px;
}

.item:active {
  background-color: #B1B1B1;
}

/* ---------- Link ---------- */
.nav-link {
  text-decoration: none;
  /* Remove underline */
}