.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}



.row {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 10px 0;

}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.box-1 {
  padding: 20px;
  text-align: center;
  /*background-color: aqua;*/
}

.box-2 {
  padding: 20px;
  text-align: center;
  margin-left: -40px;
  /*background-color: rgb(255, 0, 132);*
  /* Adjust the margin to bring box-2 closer to box-1 */
}

.item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  width: 300px;
  border: 0;
  border-radius: 8px;
  background-color: white;
  /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
  margin: 0 auto;
  /* Center horizontally */
}

.item span {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.item:hover {
  background-color: #ECECEC;
  cursor: pointer;
  border: 0px;
}

.item:active {
  background-color: #B1B1B1;
}